<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <servlet>
    <servlet-name>taskqueue</servlet-name>
    <servlet-class>com.google.appengine.tck.taskqueue.support.ExecTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>taskqueue</servlet-name>
    <url-pattern>/queuetask/addentity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>taskqueue</servlet-name>
    <url-pattern>/_ah/queue/default</url-pattern>
  </servlet-mapping>

</web-app>
