<div class="row" data-ng-if="isGoogleApisLoaded">
    <div class="col-md-12">
        <div class="row" data-ng-repeat="buildType in buildTypes">
            <div class="col-md-12">
                <h1 class="page-header">{{ buildType.label }}</h1>
                <div data-ng-controller="TestReportsCtrl" data-ng-init="init(buildType.id)">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tests</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-7">
                                    <h4>Last builds</h4>
                                    <div data-google-chart data-select="lastTestReportsChartSelect(selectedItem)" data-chart="lastTestReportsChart" style="{{ lastTestReportsChart.cssStyle }}"></div>
                                </div>
                                <div class="col-md-5">
                                    <h4>Build #{{ selectedTestReport.buildId }} <small>{ date: {{ selectedTestReport.buildDate | date: 'medium' }}, duration: {{ selectedTestReport.buildDuration | duration:'seconds' }} }</small></h4>
                                    <div data-google-chart data-select="selectedTestReportChartSelect(selectedItem)" data-chart="selectedTestReportChart" style="{{ selectedTestReportChart.cssStyle }}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script data-ng-if="!isGoogleApisLoaded" src="https://apis.google.com/js/client.js?onload=init"></script>