<div class="row" style="height: 500px; min-height: 100%">
    <div id="modules" class="col-md-2">
    </div>
    <div id="moduleCoverage" class="col-md-10" >
    </div>
    <script type="application/javascript">
        $("#modules").load("/modules.html", function() {
            $("a[target='mainFrame']").each(function() {
                $(this).removeAttr('target');
                $(this).attr('onclick', "loadModuleCoverage('" + $(this).attr('href') + "'); return false;");
                $(this).attr('href', "#");
            });
            $("#modules style").remove();
        });
        $("#moduleCoverage").load("/tests/appengine-tck-appidentity/index.html");

        function loadModuleCoverage(url) {
            $("#moduleCoverage").load(url);
        }
    </script>

</div>