<div class="row">
    <div class="col-md-12">
        <h1 class="lead-title">Google App Engine TCK</h1>
        <p class="lead">Provides Technology Compatibility Kit (TCK) for Google App Engine (GAE) API</p>
        <ul class="list-unstyled list-inline">
            <li><a href="#/reports.html" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-stats"></span> Reports</a></li>
            <li><a href="#/coverage.html" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-dashboard"></span> Coverage</a></li>
            <li><a href="https://github.com/GoogleCloudPlatform/appengine-tck" class="btn btn-default btn-lg">View On GitHub</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Goals</h3>
        <ul>
            <li>Comprehensive GAE API test coverage</li>
            <li>GAE API usage examples</li>
            <li>Common GAE API test environment</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>
            Can be used by external vendors implementing the GAE API
            <small> - such as <a href="http://www.jboss.org/capedwarf">CapeDwarf</a> and <a href="http://www.appscale.com/">AppScale</a>,
            or developers writing frameworks on top of GAE API, or simply using GAE API</small>
        </h3>
    </div>
</div>