<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

  <filter>
    <filter-name>appUrlBaseFilter</filter-name>
    <filter-class>com.google.appengine.tck.urlfetch.AppUrlBaseFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>appUrlBaseFilter</filter-name>
    <url-pattern>/watr/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>responderServlet</servlet-name>
    <servlet-class>com.google.appengine.tck.urlfetch.ResponderServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>responderServlet</servlet-name>
    <url-pattern>/respond/*</url-pattern>
  </servlet-mapping>

<!--
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
-->

  <security-constraint>

    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>