<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>watr</servlet-name>
        <servlet-class>com.google.watr.server.JUnitTestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>watr</servlet-name>
        <url-pattern>/watr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>watr</servlet-name>
        <url-pattern>/watrui/watr/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/watr/*</url-pattern>
            <url-pattern>/watrui/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

</web-app>
